/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.card {
    width: 28.1rem;
    border: 0.1rem solid #020202;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0.7rem;
}

.card-header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

.card-header .text-header {
    margin: 0;
    font-size: 1.5rem;
    color: var(--sexto-color);
}

.card-body {
    padding: 1rem;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #0a0707;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea[type="text"]{
    width: 100%;
    padding: 0.5rem;
    
    font-size: 1rem;
    border: 0.1rem solid #0a0707;
    border-radius: 0.25rem;
}

.form-control {
    max-width: 400px;
    padding: 0.7rem;
    border: 1rem solid #ccc;
    border-radius: 0.3rem;
    color: var(--sexto-color);
    background-color: transparent;
    outline: none;
    resize: none;
}

.form-textarea{
    height: 9.3rem;
    
}

.btn {
    padding: 0.75rem 1.5rem;
    margin-left: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--quinto-color);
    color: var(--sexto-color);
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
}

.btn:hover {
    background-color: var(--sexto-color);
    color: var(--quinto-color);
}

@media (max-width: 768px) {
    .form-control{
        max-width: 100%;
    }
}

:root{
    --primer-color: #997A74;
    --segundo-color: #A37C86;
    --tercer-color: #BB72BC;
    --cuarto-color: #2C51BB;
    --quinto-color: #787499;
    --sexto-color: #F6F6F6;
}


*/
