
*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
  40deg,
  hsl(10deg 15% 53%) 0%,
  hsl(3deg 16% 54%) 6%,
  hsl(357deg 16% 55%) 13%,
  hsl(351deg 17% 55%) 19%,
  hsl(345deg 17% 56%) 25%,
  hsl(332deg 16% 55%) 31%,
  hsl(322deg 14% 53%) 37%,
  hsl(310deg 12% 51%) 44%,
  hsl(298deg 10% 50%) 50%,
  hsl(278deg 20% 46%) 56%,
  hsl(257deg 31% 43%) 63%,
  hsl(236deg 41% 39%) 69%,
  hsl(216deg 51% 35%) 75%,
  hsl(223deg 43% 40%) 81%,
  hsl(231deg 33% 44%) 87%,
  hsl(238deg 24% 48%) 94%,
  hsl(246deg 15% 53%) 100%
);
}

