<<<<<<< HEAD
/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
=======
>>>>>>> origin/nosotros-contacto-Yonathan

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
  40deg,
  hsl(10deg 15% 53%) 0%,
  hsl(3deg 16% 54%) 6%,
  hsl(357deg 16% 55%) 13%,
  hsl(351deg 17% 55%) 19%,
  hsl(345deg 17% 56%) 25%,
  hsl(332deg 16% 55%) 31%,
  hsl(322deg 14% 53%) 37%,
  hsl(310deg 12% 51%) 44%,
  hsl(298deg 10% 50%) 50%,
  hsl(278deg 20% 46%) 56%,
  hsl(257deg 31% 43%) 63%,
  hsl(236deg 41% 39%) 69%,
  hsl(216deg 51% 35%) 75%,
  hsl(223deg 43% 40%) 81%,
  hsl(231deg 33% 44%) 87%,
  hsl(238deg 24% 48%) 94%,
  hsl(246deg 15% 53%) 100%
);
}

<<<<<<< HEAD
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
=======
>>>>>>> origin/nosotros-contacto-Yonathan
